.cardProduto {
    width: 260px;
    height: 420px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
}

.imagemProduto {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.descricao-container {
    padding-left: 10px;
}

.descricao {
    font-size: 14px;
    color: #555;
}

.btn {
    margin-top: auto;
    width: 100%;
    padding: 10px;
    background: #0066ff;
    color: #fff;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}